*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

dependency_map.csv
dependency_map.dot
dependency_map.json
README.md
README_IMPROVEMENT_ANALYSIS.md
